{% extends "base.html" %}
{% block content %}
  
  <h1>Lisää kisanumero listaan</h1>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/kisanumero">
    <div class="form-group">
      <label class="control-label">Kisa-ID</label>
      <input type="text" name="kisa_id" class="form-control" value="{{attributes.kisa_id}}">
    </div>

    <div class="form-group">
      <label class="control-label">Kilpailija-ID</label>
      <input type="text" name="kilpailija_id" class="form-control" value="{{attributes.kilpailija_id}}">
    </div>
      
      <div class="form-group">
      <label class="control-label">Kisanumero</label>
      <input type="text" name="kisanumero" class="form-control" value="{{attributes.kisanumero}}">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}
