{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>Muokkaa kisaa</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/kisa/:id/edit">
    <div class="form-group">
        <label class="control-label">Nimi</label>
        <input type="text" name="nimi" class="form-control" value="{{attributes.nimi}}">
    </div>

    <div class="form-group">
        <label class="control-label">Ajankohta</label>
        <input type="text" name="ajankohta" class="form-control" value="{{attributes.ajankohta}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Varmista muokkaus</button>
    </div>
</form>

{{forms.destroy_button("#{base_path}/kisa/#{attributes.id}/destroy")}}
{% endblock %}
