{% extends "base.html" %}
{% block content %}
<h1>Hiihtokisalisäyspalvelu</h1>

<p>
    <a href="{{base_path}}/kisa/lisays" class="btn btn-success">Lisää kisa</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Ajankohta</th>
            <th>Muokkaa</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for kisa in kisat %}
        <tr>
            <td><a href="{{base_path}}/kisa/{{kisa.id}}">{{kisa.nimi}}</td>
            <td>{{kisa.ajankohta}}</td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/kisa/{{kisa.id}}/edit">Muokkaa</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
