{% extends "base.html" %}
{% block content %}
  
  <h1>Kisalisäyspalvelu</h1>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/kisa">
    <div class="form-group">
      <label class="control-label">Kisan nimi</label>
      <input type="text" name="nimi" class="form-control" value="{{attributes.nimi}}">
    </div>

    <div class="form-group">
      <label class="control-label">Ajankohta</label>
      <input type="text" name="ajankohta" class="form-control" value="{{attributes.ajankohta}}">
    </div>
      
      <div class="form-group">
      <label class="control-label">Välipisteiden määrä</label>
      <input type="text" name="valipisteet" class="form-control" value="{{attributes.valipisteet}}">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}
